._sitemap, .tab_button_border_right_active, .tab_button_border_right, .tab_button_border_left {
	display: none !important;
	}

#main {
	position: relative !important;
	margin: 0 auto !important;
	box-shadow: 0px 0 3px #888888;
	border-radius: 10px 10px 10px 10px;
	background: #FFF !important;
	overflow: hidden;
	}

#main > .form_content > #panel1 {
	background: #0099CC !important;
	}

#panel2 {
	background: #414146 !important;
	color: #fff;
	}

	#sbMain {
		position: relative;
		top: 10px !important;
		}

	#panel2 .menu-item {
		margin-bottom: 15px;
		}

	#panel2 .menu-item > ul {
		height: auto !important;
		}

	#panel2 .menu-item h4 {
		text-transform: uppercase;
		border-bottom: 1px solid #58585B;
		font-size: 12px;
		padding: 0 0 5px 15px;
		}

	#panel2 .menu-item ul {

		}

	#panel2 .menu-item ul > li {
		padding: 5px 0 5px 25px;
		}

		#panel2 .menu-item ul > li > .fa{
			margin-right: 10px;
			}

/*		#panel2 .menu-item ul > li:before {
			content: "";
			display: inline-block;
			vertical-align: middle;
			width: 5px; height: 5px;
			background: #FCCB31;
			margin-right: 10px;
			border-radius: 50%;
			}*/

	#panel2 .menu-item ul > li:hover {
		background: #5C5C63 !important;
		}

	.tab_button {
		width: auto !important;
		height: auto !important;
		cursor: pointer !important;
		}

	.tab_button_active {
		left: 0 !important; top: 0px !important;
		cursor: pointer !important;
		/*color: #000;*/
		padding: 2px 5px 0 5px !important; 
		width: auto !important;
		height: auto !important;
		background: #fff !important;
		border-left: 1px solid #dadada;
		border-right: 1px solid #dadada;
		border-top: 2px solid #0099CC;
		z-index: 10;
		-webkit-border-radius: 3px 3px 0 0;
		        border-radius: 3px 3px 0 0;
		}

	.tab_sheet {
		border-top: 1px solid #dadada;
		}

	.TLabel {
		height: 25px !important;
		width: auto !important;
		}

	.TEdit {
		height: 25px !important;
		border: solid 1px #dadada !important;
		}

		.TEdit > input {
			padding: 2px 10px !important;
			}

.TComboBox {
	height: 25px !important;
	border: solid 1px #dadada !important;
	}

	.combo_box_button {
		top: 9px !important; right: 5px;
		width: 12px !important; height: 6px !important;
		cursor: pointer !important;
		background: url(../i/combo-box.png) 0 0 no-repeat #0099CC !important;
		}

.memo {
	border: solid 1px #dadada !important;
	overflow: auto !important;
	padding: 5px 10px !important;
	}

.TDateTimePicker {
	height: 25px !important;
	border: solid 1px #dadada !important;
	}

	.TDateTimePicker > input {
		padding: 2px 10px !important;
		}


#btnSearch,
#btnNewCustomer {
	top: 9px !important;
	}

#button1 {
	top: 14px !important;
	}

#btnSelCompany2 {
	top: 11px !important; left: 302px !important;
	}

#edit19 {
	width: 150px;
	}

.box_label {
	font-weight: bold;
	border-bottom: solid 2px #FCCB31;
	}

.TGrid {
	border: none !important;
	}

	.grid {
		top: 0 !important;
		left: 6px !important;
		}

	.grid td {
		padding: 5px;
		border: 1px solid #dadada;
		}

	.grid_fixed_cell {
		
		}

	.grid_cell_value {
		/*border: solid 1px red !important; */
		}

	.grid_cell.active {
		position: relative !important;
		}

#image1 img {
	top: 4px !important; left: 10px !important;
	height: 40px !important;
	}

#btnAddDirector {
	left: 6px !important;
	}

#lbAccount {
	left: 1200px !important;
	border-right: solid 1px #fff;
	padding-right: 10px !important;
	}

#icon1 {
  left: 1168px !important;
	}

	#icon1 span {
		/*color: #FCCB31 !important;*/
		}

.active-cell {
	position: absolute;
	border: 2px solid black;
	display: block;
	top: 27px;
	left: 27px;
	width: 143px;
	height: 29px;
	}